<header>
  <div style="height: 38px; background-color: #FFCD25;"></div>
    <div class="d-flex justify-content-around" style="padding-left: 10%">
      <div class="pt-4">
        <img src="assets\images\Icon_search.png">
        <input type="text" placeholder="search" id="search" (change)="onChangeEvent($event)" value="{{ searchValue }}">
      </div>
      <div class="px-5">
        <a href="#">
          <img style="margin-top: 15px" src="assets\images\logo_eng.png">
        </a>
      </div>
      <div class="pt-4" style="width: 30%">
        <div class="d-inline">
          <button id="login_in" mat-button [matMenuTriggerFor]="belowMenu" class=" text-warning text-decoration-none " (click)="signIn()">
            <mat-menu #belowMenu="matMenu" yPosition="below">
              <button mat-menu-item (click)="logOut()">Logout</button>
              <button mat-menu-item [routerLink]="['/profile']" routerLinkActive="router-link-active" >My Profile</button>
            </mat-menu>
            <div class="d-inline"><img src="assets\images\Icon_sign-in.png"></div>
            <p class="d-inline  text_header">&nbsp;&nbsp;{{ userName }}</p>
          </button>
        </div>
        <!-- ********************* CART ICON *************** -->
        <div class="d-inline mx-5">
          <a routerLink="/cart" class=" text-warning text-decoration-none">
            <div class="d-inline ">
              <img src="assets\images\Icon_cart.png">
            </div>
            <p class="d-inline  text_header">&nbsp;&nbsp;CART&nbsp;<span class="badge" style="color:grey; font-size:.9rem; border: #eac06c solid; border-radius: 50%;">{{counter}}</span></p>
          </a>
        </div>
      </div>
    </div>
</header>
<div class="d-flex flex-row align-items-center justify-content-center">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/products" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Products</a>
          </li>
          <li class="nav-item" style="margin-left: 3%;">
            <a class="nav-link" href="#"><img src="assets/images/logo_image.png"></a>
          </li>
          <li class="nav-item">
            <a class=" nav-link custom_link" routerLink="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
              Contact
            </a>
            <span class="  dropdown_arrow "><i class='fas fa-sort-up '
                style='font-size:35px; color: #eac06c;  margin-left: 1.5em; margin-bottom: 0em;'></i></span>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-top: 0em;">
              <li><a class="dropdown-item custom_dropdown" href="#">Contact us</a></li>
              <li><a class="dropdown-item custom_dropdown" href="#">FAQ</a></li>
              <li><a class="dropdown-item custom_dropdown" href="#">Locate US</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div style="background-color: #ffcd25; height:0.5px;">
</div>
