#search {
  font-family: "Avenir Next LT Pro" !important;
  border: medium none;
  font-size: 15px;
  letter-spacing: 1px;
  outline: medium none;
  padding: 30px 14px 5px 1px;
  color: #ffcd25;
}

#login_in {
  background-color: transparent;
  border: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffcd25;
  opacity: 1; /* Firefox */
  font-family: "Avenir Next LT Pro" !important;
}

p.text_header {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  border: 1px solid #eac06c;
  margin-top: 0;
  position: absolute;
  top: 59px;
  transition: all 2s;
  border-radius: 6px;
}
.dropdown-toggle::after {
  content: none;
}

.dropdown-toggle {
  font-size: 20px;
  font-family: "Avenir Next LT Pro" !important ;
  letter-spacing: 3px;
  font: weight 50px;
}

.custom_link {
  font-size: 20px;
  font-family: "Avenir Next LT Pro" !important ;
  letter-spacing: 3px;
  font: weight 50px;
}

.navbar ul li {
  padding: 0 30px;
}
.custom_dropdown {
  width: max-content;
  font-family: "Avenir Next LT Pro" !important;
  font-size: 15px;
  font-weight: normal;
  color: #000000;
}
.dropdown_arrow {
  display: none;
}
.dropdown:hover .dropdown_arrow {
  display: flex;
}
.custom_dropdown:hover {
  color: #eac06c;
  width: max-content;
}
.custom_dropdown:active {
  background-color: aliceblue;
}

.h2-heading {
  color: #c59630;
  font-family: "Amasis MT";
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
  top: -10px;
  letter-spacing: normal;
}
.customProduct {
  margin-left: 120px;
}
@media screen and (min-width: 991px) and (max-width: 1115px) {
  .customProduct {
    margin-left: 40px;
  }
}
@media screen and (max-width: 991px) {
  .customProduct {
    margin-left: 0px;
  }
  .img-logo {
    display: none;
  }
  #search {
    padding: 30px 16px 5px 1px;
    width: 100px;
  }
  .searchContainer {
    margin-bottom: 16px;
  }
  .hide_element {
    display: none;
  }
  nav {
    width: 100%;
  }
  ::ng-deep .customize {
    display: none;
  }
  
  
}
@media screen and (min-width: 990px) {
  .hide_icon_nav {
    display: none;
  }

}
@media only screen and (min-width: 360px) and (max-width: 768px) {
  default_mat_menu{
    display: none;
  }
}
