<div style="height: 38px;width: 100%; background-color: #FFCD25;"></div>

<div class="container-xxl">
<header class="text-center hide_element">
    <div class="d-inline-flex" style=" width: fit-content">
      <div style="width:fit-content; height: fit-content">
        <img src="assets\images\Icon_search.png">
        <input type="text" placeholder=" Search" id="search" (change)="onChangeEvent($event)" value="{{ searchValue }}">
      </div>
      <div class="mx-5">
        <a routerLink="/" style="margin-left: 17%">
          <img style="margin-top: 15px" src="assets\images\logo_eng.png">
        </a>
      </div>
      <div  class="mt-4" style=" width:110px; height: fit-content; margin-left: 50px;">
        <div class="d-inline">
          <button id="login_in" [matMenuTriggerFor]="belowMenu" class="text-warning text-decoration-none" (click)="signIn()">
            <mat-menu class="customize" #belowMenu="matMenu" yPosition="below">
              <button  class="hide_element" mat-menu-item [routerLink]="['/profile']" routerLinkActive="router-link-active" >My Account</button>
              <button  class="hide_element" mat-menu-item (click)="logOut()">Logout</button>
            </mat-menu>
            <div class="d-inline"><img src="assets\images\Icon_sign-in.png"></div>
            <p class="d-inline  text_header">&nbsp;{{ userName }}</p>
          </button>
        </div>
        </div>
        <div  class="mt-4 ml-3 " style=" width:fit-content; height: fit-content">
        <div class="d-inline" >
          <a routerLink="/cart" class=" text-warning text-decoration-none">
            <div class="d-inline ">
              &nbsp;&nbsp;&nbsp;&nbsp; <img src="assets\images\Icon_cart.png">
            </div>
            <p class="d-inline  text_header">&nbsp;CART&nbsp;<span class="badge" style="color:grey; font-size:.9rem; border: #FFCD25 solid; border-radius: 50%;">{{counter}}</span></p>
          </a>
        </div>
      </div>
    </div>
</header>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container-fluid " >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="hide_icon_nav">
      <button  mat-button [matMenuTriggerFor]="Menu" class=" text-warning text-decoration-none " (click)="signIn()">
        <mat-menu   #Menu="matMenu" yPosition="below">
          <button  mat-menu-item (click)="logOut()">Logout</button>
          <button  mat-menu-item [routerLink]="['/profile']" routerLinkActive="router-link-active" >My Profile</button>
        </mat-menu>
        <div class="d-inline"><img src="assets\images\Icon_sign-in.png"></div>
        <p class="d-inline  text_header">&nbsp;&nbsp;{{ userName }}&nbsp;</p>
      </button>
    </div>
      <a routerLink="/cart" class=" text-warning text-decoration-none hide_icon_nav">
        <div class="d-inline ">
          &nbsp;&nbsp;&nbsp;&nbsp; <img src="assets\images\Icon_cart.png">
        </div>
        <p class="d-inline  text_header">&nbsp;&nbsp;CART&nbsp;<span class="badge" style="color:rgb(128, 128, 128); font-size:.9rem; border: #eac06c solid; border-radius: 50%;">{{counter}}</span></p>
      </a>
      <div class="collapse navbar-collapse top_nav" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="searchContainer nav-item hide_icon_nav"  style="width:fit-content; height: fit-content;" >
            <img src="assets\images\Icon_search.png">
            <input type="text" placeholder="Search" id="search" (change)="onChangeEvent($event)" value="{{ searchValue }}">
          </li>
          <li class="nav-item dropdown customProduct">
            <a class="nav-link custom_link" routerLink="/products">Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link custom_link" routerLink="/">Offers</a>
          </li>
          <li class="nav-item img-logo mx-5">
            <a class="nav-link" routerLink="/"><img src="assets/images/logo_image.png"></a>
          </li>
          <li class="nav-item">
            <a class=" nav-link custom_link" routerLink="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/contact" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div style="background-color: #ffcd25; height:0.5px;">
</div>