<div class="mx-auto container" style="width: 85%">
  <h3 class="mb-5 me-2 ms-2 mt-5"><span style="font-size: 1.5rem;">&nbsp;ONE STEP CHECKOUT&nbsp;</span></h3>
  <!--  Shipping Address  -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title titles"> <img src="assets/icons/i1.jpg"> Shipping Address</h5>
          <h2 class="mb-5 me-2 "></h2>
          <!-- user details  -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4"><h6 class="mb-0 txt">First Name</h6></div>
                <div class="col-sm-8 text-secondary txt2">{{info.data.firstname}}</div>
              </div>
              <hr>
              <div class="row mt-4">
                <div class="col-sm-4">
                  <h6 class="mb-0 txt">Last Name</h6>
                </div>
                <div class="col-sm-8 text-secondary txt2">
                  {{info.data.lastname}}
                </div>
              </div>
              <hr>
              <div class="row mt-4">
                <div class="col-sm-3">
                  <h6 class="mb-0 txt">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary txt2">
                  {{info.data.email}}
                </div>
              </div>
              <hr>
              <div class="row mt-4">
                <div class="col-sm-3">
                  <h6 class="mb-0 txt">City</h6>
                </div>
                <div class="col-sm-9 text-secondary txt2">
                  {{info.data.city}}
                </div>
              </div>
              <hr>
              <div class="row mt-4">
                <div class="col-sm-3">
                  <h6 class="mb-0 txt">Mobile</h6>
                </div>
                <div class="col-sm-9 text-secondary txt2">
                  {{info.data.mobile}}
                </div>
              </div>
              <hr>
              <div class="row mt-4">
                <h6 class=" col-sm-4 txt">Address</h6>
                <div class=" col-sm-11  text-secondary txt2">{{info.data.address}}</div>
              </div>
              <hr>
              <div class="row mt-4 mb-2">
                <div class="col-sm-12" style="text-align: center">
                  <a class="btn btn-dark" style="line-height: 2rem" routerLink="/edit-profile/{{info.data.id}}">Edit Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   Shipping Methods   -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title titles"> <img src="assets/icons/i2.jpg">Shipping Methods</h5>
          <h2 class="mb-5 me-2 "></h2>
          <div class="row ">
            <div class="col-4">
              <input type="radio" class="form-check-input me-3" id="rad" checked>
              <label for="rad" style="font-size: small"><b>EGP 0.00</b></label>
            </div>
            <div class="col-4">
              <span style="font-size: 14px;"> Free </span>
            </div>
            <div class="col-4 mb-5">
              <span style="font-size: 14px;"> FREE Shipping </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   Payment Methods   -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title titles"> <img src="assets/icons/i3.jpg"> Payment Methods </h5>
          <h2 class="mb-4 me-2 "></h2>
          <div class="col-12 text-center">
            <span>Cash On Delivery</span><hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-warning buttons" (click)="order()">
                  Place Order
                  <div *ngIf="loading" class="mx-2 spinner-border text-white" style="font-size: smaller; height: 1.3rem; width: 1.3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

 <!--   Order Summary   -->
 <div class="row m-auto m-0 mt-3">
  <div class="card ">
    <div class="card-body">
      <h5 class="card-title titles" data-toggle="collapse" href="#collapseOrder" aria-expanded="true" aria-controls="collapse-example" id="heading-example" style="cursor: pointer;" > <img src="assets/icons/i4.jpg">
        Order Summary
        <i class="fa fa-chevron-down pull-right"></i>
      </h5>
      <h2 class="mb-1 me-2 "></h2>
    </div>
    <div id="collapseOrder" class="collapse" aria-labelledby="heading-example">
    <div class="table-responsive">
      <table class="card-table table">
        <thead>
          <tr>
            <th scope="col"style="width: 80%" class="text-center">Product</th>
            <th scope="col" style="width:10%" class="text-center">Quantity</th>
            <th scope="col" style="width: 10%" class="text-center">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items.data" style="font-size: larger;">
            <td class="golder text-center" style="vertical-align:middle">{{item['product info'].name}}</td>
            <td class="text-center" style="vertical-align:middle">{{item.quantity}}</td>
            <td *ngIf="item['product info']['offer info'] == null">EGP {{(item['product info'].price * item.quantity) | number:'1.2-2'}}</td>
            <td *ngIf="item['product info']['offer info'] != null">EGP {{((item['product info']['offer info'].oldPrice - (item['product info']['offer info'].oldPrice * (item['product info']['offer info'].discount/100))) * item.quantity) | number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
      <button routerLink="/cart" class="buttons btn btn-warning text-center mb-3 w-100">Edit Cart&nbsp;&nbsp;<i class="bi bi-cart4"></i></button>
    </div>
    </div>
    </div>
</div>
