<div class="mx-auto" style="width: 90%">
    <div class="row my-5" id="product-details">
        <div class="col-lg-6 col-12" id="imageDiv">
            <img src="assets/images/d2.jpg" width="100%" class="rounded">
        </div>
        <div class="col-lg-6 col-12 px-5" style="text-align: center" id="textDiv">
            <h4><span>&nbsp;DEODORANT&nbsp;</span></h4>
            <h2 class="my-4">Deo Whitening - Elder Rose</h2>
            <h5>EGP180.00</h5>
            <h5 class="my-4" style="font-weight: 400">IN STOCK</h5>
            <p style="font-size: larger">A skin-friendly spray deodorant with 72hr antiperspirant action to prevent
                moisture & body odour. All the while delaying hair growth & whitening, soothing & moisturising the skin
                for fresh & bright underarms.</p>
            <div class="row mt-5">
                <div class="col-sm-4 col-6">
                    <img src="assets/images/icon1.png" />
                    <p class="mt-2 icon">cruelty free</p>
                </div>
                <div class="col-sm-4 col-6">
                    <img src="assets/images/icon2.png" />
                    <p class="mt-2 icon">hyrdroquinone free</p>
                </div>
                <div class="col-sm-4 col-6">
                    <img src="assets/images/icon3.png" />
                    <p class="mt-2 icon">parabens free</p>
                </div>
            </div>
            <a href="/cart" class="btn btn-primary add-btn mt-4" style="width: 80%;">ADD TO CART</a>
        </div>
    </div>
    <div style="margin-top: 12%; margin-bottom:10%">
        <h3 class="mb-5" id="secTitle"><span>&nbsp;YOU MIGHT ALSO LIKE&nbsp;</span></h3>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card" style="border: none">
                    <img src="assets/images/d2.jpg" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Deo Whitening - Elder Rose</h6>
                        <p class="card-text mb-4">EGP180.00</p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card" style="border: none">
                    <img src="assets/images/d1.jpg" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Deo Whitening - Sport Pulse</h6>
                        <p class="card-text mb-4">EGP7.70<span class="mx-1"
                                style="text-decoration:line-through; font-size: small; color: #7D7DA5;">EGP180.00</span>
                        </p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card" style="border: none">
                    <img src="assets/images/d3.jpg" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Deo Whitening - Invisible Touch</h6>
                        <p class="card-text mb-4">EGP180.00</p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card" style="border: none">
                    <img src="assets/images/d4.png" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Deo Whitening - Beauty Pearl</h6>
                        <p class="card-text mb-4">EGP150.00</p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>