<div class="container mt-5 mb-5">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>
            <mat-card class="text-black">User Name: {{userData.firstname}}&nbsp;{{userData.lastname}}</mat-card> 
            <br>
            <button mat-raised-button color="light" routerLink="/users"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Users Page</button>    
          </mat-card-title> 
          <mat-divider></mat-divider>
            <img  src="{{dashboardService.imageUrl}}{{userData.image}}"> 
        </mat-card-title-group>
        <mat-tab-group>
          <mat-tab label="Cart Details" *ngIf="userData.type=='user'" class="text-black"> 
          <mat-card *ngFor="let card of userData['cart info']" class="d-flex flex-row">
          
          
           <mat-card class="text-black "><h3>Product Name: <span class="text-muted">{{card['product info'].name}}</span> </h3> </mat-card>&nbsp; &nbsp;
       <mat-card class="text-black"><h3>Product Price: <span class="text-muted">{{card['product info'].price}} EGP</span></h3></mat-card>&nbsp; &nbsp;
      <mat-card class="text-black"><h3> Quantity: <span class="text-muted">{{card.quantity}}</span></h3></mat-card>

          </mat-card>
          </mat-tab>
          <mat-tab label="User Details" class="text-black" > 
            <mat-card>
            <mat-card class="text-black"><h3>User Mobile No.: <span class="text-muted">{{userData.mobile}}
             </span></h3></mat-card>
             <mat-card class="text-black"><h3>User Email: <span class="text-muted">{{userData.email}}</span></h3></mat-card>
              <mat-card class="text-black"><h3>User City: <span class="text-muted">{{userData.city}} </span></h3> </mat-card>
              <mat-card class="text-black"><h3>User Address: <span class="text-muted">{{userData.address}}</span></h3></mat-card>
              </mat-card>
             
          </mat-tab>
          <mat-tab label="Order Details" *ngIf="userData.type=='user'"  class="text-black"> 
            <mat-card *ngFor="let or of AllOrdersNotRepeated">
            <p *ngIf="or.user_id==userData.id">Order Number: {{or.id}}</p>
            <p  *ngIf="or.user_id==userData.id" [ngClass]="{
             'text-primary':or.orderStatus === 'pending',
             'text-success':or.orderStatus === 'accepted',
             'text-danger':or.orderStatus === 'rejected'
           }"><b>{{or.orderStatus}}</b></p>
           <table class="table table-striped table-bordered" *ngIf="userData.id==or.user_id">
            <tr>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Quantity</th>
              <th>Product Price</th>
              <th>Total Price</th>
            </tr>
             <tr *ngFor="let oo of ordersData">
                <td *ngIf="or.user_id==oo.user_id">{{oo['product info'].name}}</td>
                <td *ngIf="or.user_id==oo.user_id"><img src="{{dashboardService.imageUrl}}{{oo['product info'].image}}"  alt=""></td>
                <td *ngIf="or.user_id==oo.user_id">{{oo.quantity}}</td>
                <td *ngIf="or.user_id==oo.user_id">{{oo['product info'].price}}</td>
                <td *ngIf="or.user_id==oo.user_id">{{oo['product info'].price * oo.quantity}}</td>
             </tr>
          </table>
        </mat-card>
            <!-- <mat-card *ngFor="let o of ordersData" class="d-flex flex-row">
            <mat-card-subtitle class="text-black" *ngIf="o.user_id == userData.id"><h3>Order Status: <span class="text-muted">{{o.orderStatus}}</span></h3></mat-card-subtitle> &nbsp; &nbsp;
            <mat-card-subtitle class="text-black" *ngIf="o.user_id == userData.id"><h3>Order Date: <span class="text-muted">{{o.created_at}}</span></h3></mat-card-subtitle> &nbsp; &nbsp;
            <mat-card-subtitle class="text-black" *ngIf="o.user_id == userData.id"><h3>Product Name: <span class="text-muted">{{o.productInfo.name}}</span></h3></mat-card-subtitle> &nbsp; &nbsp;
            <mat-card-subtitle class="text-black" *ngIf="o.user_id == userData.id"><h3>Product Price: <span class="text-muted">{{o.productInfo.price}}</span></h3></mat-card-subtitle>&nbsp; &nbsp;
            <mat-card-subtitle class="text-black" *ngIf="o.user_id == userData.id"><h3>Total Price: <span class="text-muted">{{o.productInfo.price * o.quantity}} EGP</span></h3></mat-card-subtitle> 
          </mat-card> -->
       
          </mat-tab>
        </mat-tab-group>
        <br> <br>
          <!-- <mat-card-content>  -->
            <!-- <div class="example-flex-container">
                <div class="example-button-container">
                    
                  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                    <mat-icon>bookmark</mat-icon>
                  </button>
                  <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                    <mat-icon>home</mat-icon>
                  </button>

                </div>
                </div> -->
          <!-- </mat-card-content> -->
          
      </mat-card>
</div>

