<div class="d-flex flex-column align-items-center">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>
            <mat-card class="text-black">User Name: {{userData.firstname}}&nbsp;{{userData.lastname}}</mat-card> 
            <br>
            <button mat-raised-button color="light" routerLink="/users"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>users Page</button>   
           
          </mat-card-title> 
          <mat-divider></mat-divider>
            <img mat-card-xl-image src="{{dashboardService.imageUrl}}{{userData.image}}"> 
        </mat-card-title-group>
        <mat-tab-group>
          <mat-tab label="cart Details" class="text-black" >
           
          <mat-card *ngFor="let card of userData.cartInfo" class="d-flex flex-row">
            <mat-card-subtitle class="text-black"><h3>Product Name: <span class="text-muted">{{card.productInfo.name}}</span> </h3> </mat-card-subtitle>&nbsp; &nbsp;
            <mat-card-subtitle class="text-black"><h3>Product Price: <span class="text-muted">{{card.productInfo.price}} EGP</span></h3></mat-card-subtitle>&nbsp; &nbsp;
            <mat-card-subtitle class="text-black"><h3> Quantity: <span class="text-muted">{{card.quantity}}</span></h3></mat-card-subtitle>
          </mat-card>
      
          </mat-tab>
          <mat-tab label="User Details" class="text-black"> 
           
            <mat-card>
            <mat-card-subtitle class="text-black"><h3>User Mobile No.: <span class="text-muted">{{userData.mobile}}
             </span></h3></mat-card-subtitle>
             <mat-card-subtitle class="text-black"><h3>User Email: <span class="text-muted">{{userData.email}}</span></h3></mat-card-subtitle>
              <mat-card-subtitle class="text-black"><h3>User City: <span class="text-muted">{{userData.city}} </span></h3> </mat-card-subtitle>
              <mat-card-subtitle class="text-black"><h3>User Address: <span class="text-muted">{{userData.address}}</span></h3></mat-card-subtitle>
              </mat-card>
             
          </mat-tab>
          <mat-tab label="Order Details" class="text-black"  > 
           
            <mat-card *ngFor="let o of ordersData" class="d-flex flex-row">
            <mat-card-subtitle class="text-black" *ngIf="o.user_id == userData.id"><h3>Order Status: <span class="text-muted">{{o.orderStatus}}</span></h3></mat-card-subtitle> &nbsp; &nbsp;
            <mat-card-subtitle class="text-black" *ngIf="o.user_id == userData.id"><h3>Order Date: <span class="text-muted">{{o.created_at}}</span></h3></mat-card-subtitle> &nbsp; &nbsp;
            <mat-card-subtitle class="text-black" *ngIf="o.user_id == userData.id"><h3>Product Name: <span class="text-muted">{{o.productInfo.name}}</span></h3></mat-card-subtitle> &nbsp; &nbsp;
            <mat-card-subtitle class="text-black" *ngIf="o.user_id == userData.id"><h3>Product Price: <span class="text-muted">{{o.productInfo.price}}</span></h3></mat-card-subtitle>&nbsp; &nbsp;
            <mat-card-subtitle class="text-black" *ngIf="o.user_id == userData.id"><h3>Total Price: <span class="text-muted">{{o.productInfo.price * o.quantity}} EGP</span></h3></mat-card-subtitle> 
          </mat-card>
       
          </mat-tab>
        </mat-tab-group>
        <br> <br>
          <!-- <mat-card-content>  -->
            <!-- <div class="example-flex-container">
                <div class="example-button-container">
                    
                  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                    <mat-icon>bookmark</mat-icon>
                  </button>
                  <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                    <mat-icon>home</mat-icon>
                  </button>

                </div>
                </div> -->
          <!-- </mat-card-content> -->
          
      </mat-card>
</div>

