

#search{
    font-family: 'Avenir Next LT Pro' !important;
    text-transform: uppercase;
    border: medium none;
    font-size: 15px;
    letter-spacing: 3px;
    outline: medium none;
     padding: 14px 5px 1px ; 
    color: #ffcd25;
 
}
#login_in{
   background-color: transparent;
   border: none;
}
nav{
    margin-left: 150px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  #ffcd25;
    opacity: 1; /* Firefox */
    font-family: 'Avenir Next LT Pro' !important;

  }
  p.text_header{

    text-transform: uppercase;
    font-size: 14PX;
    letter-spacing: 1px;
  }
 

 .dropdown:hover .dropdown-menu{
    display: block;
    border: 1px solid #eac06c;
    margin-top: 0;
    position: absolute;
    top: 59px;
    transition: all 2s ;
    border-radius: 6px;
  
 }
 .dropdown-toggle::after {
    content: none;
}

.dropdown-toggle{
    font-size: 20px;
    font-family:'Avenir Next LT Pro' !important ;
    letter-spacing: 3px;
    font: weight 50px;
}
 
.custom_link{
    font-size: 20px;
    font-family:'Avenir Next LT Pro' !important ;
    letter-spacing: 3px;
    font: weight 50px;
}


 .navbar ul li { 
	padding: 0px 60px; 
 }
 .custom_dropdown{
   
   width: max-content;
   font-family: 'Avenir Next LT Pro' !important;
   font-size: 15px;
   font-weight: normal;
   color: #000000;

}
.dropdown_arrow{
   display: none;
}
.dropdown:hover .dropdown_arrow{
   display: flex;
   

}
 .custom_dropdown:hover{
    color: #eac06c;
    width: max-content;
   
 }
 .custom_dropdown:active{
 background-color: aliceblue;
 
 }
 
 .h2-heading{
   color: #c59630;
    font-family: "Amasis MT";
    font-size: 22px;
    line-height: 18px;
    text-align: center;
    font-style: italic;
    text-transform: lowercase;
    top: -10px;
    letter-spacing: normal;
 }