#end {
    border-bottom: 0.5px solid #C59630;
}

.gold {
    color: #FFCD25;
}

.golder {
    color: #C59630;
    cursor: pointer;
}

.add-btn {
    background: #FFCD25;
    border: none;
    font-weight: 500;
    font-size: larger;
    line-height: 2rem;
}

.add-btn:hover {
    background: white;
    border: 1px solid #C59630;
    color: #C59630;
}

.table thead th {
    border-bottom: 1.5px solid #C59630;
    padding-bottom: 2%;
    font-weight: 500;
}

.table tbody td {
    border: none;
    vertical-align: middle;
}

@media (max-width: 575.98px) {
    .productName {
        font-size: small;
    }

    .imageCol {
        display: none;
    }

    .checkout {
        width: 70% !important;
    }

    #mainDiv {
        overflow-x: auto;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .productName {
        font-size: small;
    }

    .imageCol {
        display: none;
    }

    .checkout {
        width: 40% !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}