<div id="mainDiv" class="mx-auto mt-5" style="width: 90%; text-align: center;">
    <h1 *ngIf="counter>0" style="letter-spacing: 2px; font-size: 2rem;">MY CART</h1>
    <h5 *ngIf="counter>0" class="my-5" style="font-weight:400; font-size: 1.2rem;">{{counter}} ITEM<span *ngIf="counter>1">S</span> SELECTED</h5>
    <div *ngIf="counter==0">
        <div><img src="assets\images\emptycart.png"></div>
        <button class="add-btn mt-4 mb-5 px-3 py-1" style="border-radius: 20px; width: 15%;"><a routerLink="/products" style="text-decoration: none; color: rgb(64, 67, 70)">SHOP NOW!</a></button>
    </div>
    
    <div *ngIf="counter>0">
        <table class="table">
            <thead>
                <tr style="font-size: larger">
                    <th style="width: 150px" scope="col" class="imageCol"></th>
                    <th scope="col">PRODUCT</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">PER UNIT</th>
                    <th scope="col">TOTAL</th>
                    <th scope="col">REMOVE</th>
                </tr>
            </thead>
            <tbody>
                <tr style="visibility:hidden">hidden row</tr>
                <tr *ngFor="let item of items.data" style="font-weight:bold">
                    <td class="imageCol"><img class="rounded" src="{{myService.IMG_URL}}{{item['product info'].image}}" width="100%" /></td>
                    <td class="golder productName" style="letter-spacing: 2px">{{item['product info'].name}}</td>
                    <td><i (click)="dec(item.id, item.product_id, item.quantity)" class="bi bi-dash-lg golder mx-lg-3 mx-2"></i>{{item.quantity}}<i (click)="inc(item.id, item.product_id, item.quantity)" class="bi bi-plus-lg golder mx-lg-3 mx-2"></i></td>
                    <td *ngIf="item['product info']['offer info'] == null">EGP {{item['product info'].price | number:'1.2-2'}}</td>
                    <td *ngIf="item['product info']['offer info'] != null">EGP {{(item['product info']['offer info'].oldPrice - (item['product info']['offer info'].oldPrice * (item['product info']['offer info'].discount/100))) | number:'1.2-2'}}</td>
                    <td *ngIf="item['product info']['offer info'] == null">EGP {{(item['product info'].price * item.quantity) | number:'1.2-2'}}</td>
                    <td *ngIf="item['product info']['offer info'] != null">EGP {{((item['product info']['offer info'].oldPrice - (item['product info']['offer info'].oldPrice * (item['product info']['offer info'].discount/100))) * item.quantity) | number:'1.2-2'}}</td>
                    <td><i (click)="delete(item.id)" class="bi bi-trash golder" style="font-size: larger"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="row" id="end" style="margin-top: 2.5%"></div>
    </div>
    <a *ngIf="counter>0" routerLink="/checkout" class="btn btn-primary add-btn my-5 checkout" style="font-size: large; width: 35%;">GO TO CHECKOUT</a>
</div>