<div class="container mt-3 mb-3">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>
            <h2 class="text-muted d-inline">Product Name:</h2> <h4 class="d-inline">{{ProductData.name}}</h4>
          </mat-card-title>
          <img src="{{dashboardService.imageUrl}}{{ProductData.image}}">
        </mat-card-title-group>
        <mat-card-content>
            <h2 class="text-muted d-inline">Product Number:</h2> <h4 class="d-inline">{{ProductData.id}}</h4> <br>
        </mat-card-content>
        <mat-card-content>
            <h2 class="text-muted d-inline">Product Price:</h2> <h4 class="d-inline">{{ProductData.price}} </h4><br>
        </mat-card-content>
        <mat-card-content>
            <h2 class="text-muted d-inline">Product Description:</h2> <h4 class="d-inline">{{ProductData.description}} </h4><br>
        </mat-card-content>
        <mat-card-content>
            <h2 class="text-muted d-inline">Product Category:</h2> <h4 class="d-inline">{{ProductData.category}} </h4><br>
        </mat-card-content>
        <mat-card-content>
          <h2 class="text-muted d-inline">Product Stock No.:</h2><h4 class="d-inline">{{ProductData.stock}}</h4>
        </mat-card-content>
          <mat-card-content> 
            <button mat-raised-button color="warn" routerLink="/dashboard/products">Products Page</button>   
            <!-- <div class="example-flex-container">
                <div class="example-button-container">
                    
                  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                    <mat-icon>bookmark</mat-icon>
                  </button>
                  <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                    <mat-icon>home</mat-icon>
                  </button>

                </div>
                </div> -->
          </mat-card-content> 
      </mat-card>
</div>
