<div class="container">
<h3 ><span>&nbsp;create  Acccont&nbsp;</span></h3>
<div class="p-5">
    <form action="">
 
        <h1 style="font-weight: 300;">Personal Informations</h1>
        <hr>
        <div class="form-group mb-4">
          <label >First Name</label> <span style="color:red;">&nbsp;*</span>
          <input type="text" class="form-control" placeholder="Enter First Name">
        </div>
        <div class="form-group mb-4">
          <label >Last Name</label><span style="color:red;">&nbsp;*</span>
          <input type="text" class="form-control"  placeholder="text">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"><span style="color:#c59630ed; font-size: smaller;"> Sign up for Newletter</span></label>
        </div>
        <div class="m-4"></div>
        <h1 style="font-weight:300;">sign-In Information</h1>
        <hr>
        <div class="form-group mb-4" >
          <label >Email</label><span style="color:red;">&nbsp;*</span>
          <input type="email" class="form-control" placeholder="Enter Email">
        </div>
        <div class="form-group mb-4">
          <label >Password</label><span style="color:red;">&nbsp;*</span>
          <input type="password" class="form-control"  placeholder="Enter Password">
        </div>
        <div class="form-group mb-4">
            <label >confirm password</label><span style="color:red;">&nbsp;*</span>
            <input type="password" class="form-control"  placeholder="Enter Password">
          </div>
      
        <button type="submit" class="btn btn-warning">Create An Acccount</button>

      </form>
</div>
</div>