<div class="container">
<h3 ><span>&nbsp;create  Acccont&nbsp;</span></h3>
<div class="p-5">
    <form  [formGroup]="signUpForm" action="">
 
        <h1 style="font-weight: 300;">Personal Informations</h1>
        <hr>
        <input class="form-control" type="file" 
        (change)="onChange($event)">

<button (click)="onUpload()" 
    class="btn btn-success">
    Upload
</button>
</div>

<!-- Shareable short link of  uploaded file -->
<div class="container text-center jumbotron"
*ngIf="shortLink">
<h2> Visit Here</h2>
<a href="{{shortLink}}">{{shortLink}}</a>
</div>

<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
<h3>Loading ...</h3>
</div>
        <div class="form-group mb-4">
          <label >First Name</label> <span style="color:red;">&nbsp;*</span>
          <input type="text" class="form-control" placeholder="Enter First Name" formControlName="firstName" minlength="3">
         <div *ngIf="FirstName?.touched &&  FirstName?.invalid" class="alert alert-danger">
          <div *ngIf="FirstName?.errors?.['required']">First Name is required</div>
          <div *ngIf="FirstName?.errors?.['minlength']">First Name minimum lenght is 3</div> 
        </div>
        </div>
        <div class="form-group mb-4">
          <label >Last Name</label><span style="color:red;">&nbsp;*</span>
          <input type="text" class="form-control"  placeholder="Enter Last Name" formControlName="lastName"  minlength="3">
          <div *ngIf="lastName?.touched &&  lastName?.invalid" class="alert alert-danger">
            <div *ngIf="lastName?.errors?.['required']">Last Name is required</div>
            <div *ngIf="lastName?.errors?.['minlength']">Last Name minimum lenght is 3</div>
          </div>

        </div>
       
        <div class="form-group mb-4">
          <label >Address</label><span style="color:red;">&nbsp;*</span>
          <textarea  class="form-control"  rows="3" style="width: 400px;" formControlName="address"></textarea>
          <div *ngIf="address?.touched &&  address?.invalid" class="alert alert-danger">Address is Required </div>

        </div>
        
        <div class="form-group mb-4">
          <label >Phone Number</label><span style="color:red;">&nbsp;*</span>
        <input type="text"  class="form-control"  placeholder="Enter Phone number" formControlName="phoneNumber" >
        <div *ngIf="phoneNumber?.touched &&  phoneNumber?.invalid" class="alert alert-danger">
          <div *ngIf="phoneNumber?.errors?.['required']">Phone number is required</div>
          <div *ngIf="phoneNumber?.errors?.['pattern']">Invalid phone number</div> 
        </div>
        </div>
        
        <div class="form-group mb-4">
          <label >City</label>
          <br>
          <select name="city"  class="form-control" style="width:350px">
            <option >Choose your city</option>
            <option value="cairo">Cairo</option>
            <option value="Alexandria">Alexandria</option>
            <option value="Giza">Giza</option>
            <option value="Port_Said">Port Said</option>
            <option value="Suez">Suez</option>
            <option value="Luxor">Luxor</option>
            <option value="Mansoura">Mansoura</option>
            <option value="Tanta">Tanta</option>
            <option value="Asyut">Asyut</option>
            <option value="Ismailia">Ismailia</option>
            <option value="Faiyum">Faiyum</option>
            <option value="Zagazig">Zagazig</option>
            <option value="Damietta">Damietta</option>
            <option value="Aswan">Aswan</option>
            <option value="Minya">Minya</option>
            <option value="Damanhur">Damanhur</option>
            <option value="Beni Suef">Beni Suef</option>
            <option value="Qena">Qena</option>
            <option value="Sohag">Sohag</option>
            <option value="Banha">Banha</option>
            <option value="Arish">Arish</option>
          </select>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" >
          <label class="form-check-label" for="exampleCheck1"><span style="color:#c59630ed; font-size: smaller;"> Sign up for Newletter</span></label>
        </div>
     
        <div class="m-4"></div>
        <h1 style="font-weight:300;">sign-In Information</h1>
        <hr>
        <div class="form-group mb-4" >
          <label >Email</label><span style="color:red;">&nbsp;*</span>
          <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
          <div *ngIf="email?.touched &&  email?.invalid" class="alert alert-danger">
            <div *ngIf="email?.errors?.['required']">Email is required</div>
            <div *ngIf="email?.errors?.['email']">Invalid Email</div> 
          </div>

        </div>
        <div class="form-group mb-4">
          <label >Password</label><span style="color:red;">&nbsp;*</span>
          <input type="password" class="form-control"  placeholder="Enter Password" formControlName="password">

        </div>
        <div class="form-group mb-4">
            <label >confirm password</label><span style="color:red;">&nbsp;*</span>
            <input type="password" class="form-control"  placeholder="Enter Password" formControlName="confirmPass">
            <div  class="alert alert-danger" *ngIf="passwordMatchError">
              Password does not match
            </div>
          </div>
      
        <button type="submit" class="btn btn-warning">Create An Acccount</button>

      </form>
</div>
</div>