* {
  box-sizing: border-box;
}

.popoup_heading {
  color: #b48b32;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: normal;
  font-family: "Amasis MT";
  font-weight: bold;
}

.facebook_btn {
  border: 1px solid transparent;
  height: 52px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  padding: 16px;
  background-color: #3b5998;
  margin-top: 20px;
}
.custom_input {
  width: 300px;
  height: 50px;
  border: #b48b32 1.5px solid;
  margin: 5px 0px;
  color: #b48b32;
  padding-left: 50px;
}
.custom_input:focus {
  outline: none !important;
  border: 2px solid #b48b32;
}
.custom_input::placeholder {
  color: #b48b32;
  font-family: "Avenir Next LT Pro" !important;
  opacity: 1;
  font-size: 18px;
}

.text {
  margin-top: 50px;
  color: #b48b32;
  font-family: "Amasis MT";
  font-style: italic;
  font-size: 20px;
}
button[type="button"] {
  color: #fff;
  font-family: "Avenir Next LT Pro" !important;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
button[type="button"]:hover {
  background-color: #fff;
  color: #b48b32;
}
.custom_close_btn {
  border: 1px solid transparent;
  background-color: transparent;
  margin-left: 70px;
}
.default_login_style {
  width: 100%;
  text-align: center;
  border-bottom: 3.5px solid #c59630;
  line-height: 0.1em;
   margin-left: 55px;
   margin-top: 20px;
  letter-spacing: 2px;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}
.login_head_style{
  width: 100%;
  text-align: center;
  border-bottom: 3.5px solid #c59630;
  line-height: 0.1em;
   margin-left: 100px;
   margin-top: 30px;
  letter-spacing: 2px;
}
@media  screen and (max-width: 991px) 
{
  .login_head_style{
    width: 100%;
    text-align: center;
    border-bottom: 3.5px solid #c59630;
    line-height: 0.1em;
     margin-left: 30px;
     margin-top: 30px;
    letter-spacing: 2px;
  }
}
@media  screen and (max-width: 770px)
{
  .default_login_style {
    width: 100%;
    text-align: center;
    border-bottom: 3.5px solid #c59630;
    line-height: 0.1em;
     margin-left: 10px;
     margin-top: 20px;
    letter-spacing: 2px;
  }
  .popoup_heading {
    color: #b48b32;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: normal;
    font-family: "Amasis MT";
    font-weight: bold;
  }
  .custom_close_btn {
   display: none;
  }
}
