h3 {
  width: 100%;
  text-align: center;
  border-bottom: 3.5px solid #c59630;
  line-height: 0.1em;
  margin: 10px 0 20px;
  letter-spacing: 2px;
}

h3 span {
  background: #fff;
  padding: 0 10px;
}

.leftbord {
  border-left: 1px solid #c59630;
}

#end {
  border-bottom: 2px solid #ede4e3;
}

.gold {
  color: #ffcd25;
}

.add-btn {
  border: none;
  font-size: 20px;
}

.add-btn:hover {
  background: white;
  color: #c59630;
}

.table thead th {
  border-bottom: 2px solid #c59630;
  padding-bottom: 2%;
  font-weight: 500;
}

.table tbody td {
  vertical-align: middle;
}

.table tbody tr {
  border-bottom: 0.1rem solid #c59630 !important;
}

@media (max-width: 575.98px) {
  .productName {
    font-size: small;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .productName {
    font-size: small;
  }

  .txt2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}