<div class="mx-auto container" style="width: 85%">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="mb-2 me-2 ms-2 mt-5"><span>&nbsp; My Orders &nbsp;</span></h3>
      <div class="btn-group " role="group" aria-label="Basic mixed styles example">
        <a routerLink="/profile" class="btn btn-primary add-btn my-4 w-30 checkout " >My Account</a>
        <a routerLink="/orders" class="btn btn-primary add-btn my-4 w-30 checkout ">My Orders</a>
      </div>
      </div>
  </div>

            <!-- table1 -->


  <div class="row">
    <table class="table">
      <thead>
          <tr>
              <th style="width: 100px;" scope="col" class="imageCol"></th>
              <th scope="col">PRODUCT</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">PER UNIT</th>
              <th scope="col">TOTAL</th>
              <th scope="col"># 1</th>
          </tr>
      </thead>
      <tbody>
          <tr style="visibility:hidden">hidden row</tr>
          <tr style="font-weight:bold">
              <td class="imageCol"><img class="rounded" src="assets/images/p1.jpg" width="60%" /></td>
              <td class="golder productName" style="letter-spacing: 2px">DEO WHITENING - ELDER ROSE</td>
              <td><i class="bi bi-dash-lg golder mx-lg-3 mx-2"></i>1<i class="bi bi-plus-lg golder mx-lg-3 mx-2"></i></td>
              <td>EGP180.00</td>
              <td>EGP180.00</td>
          </tr>
          <tr style="font-weight:bold">
              <td class="imageCol"><img class="rounded" src="assets/images/p1.jpg" width="60%" /></td>
              <td class="golder productName" style="letter-spacing: 2px">DEO WHITENING - SPORTS MODE</td>
              <td><i class="bi bi-dash-lg golder mx-lg-3 mx-2"></i>2<i class="bi bi-plus-lg golder mx-lg-3 mx-2"></i></td>
              <td>EGP200.00</td>
              <td>EGP400.00</td>
          </tr>
      </tbody>
  </table>
          </div>

            <!-- table1 -->


          <!-- table2 -->
  <div class="row">
    <table class="table">
      <thead>
          <tr>
              <th style="width: 100px;" scope="col" class="imageCol"></th>
              <th scope="col">PRODUCT</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">PER UNIT</th>
              <th scope="col">TOTAL</th>
              <th scope="col"># 2</th>
          </tr>
      </thead>
      <tbody>
          <tr style="visibility:hidden">hidden row</tr>
          <tr style="font-weight:bold">
              <td class="imageCol"><img class="rounded" src="assets/images/p1.jpg" width="60%" /></td>
              <td class="golder productName" style="letter-spacing: 2px">DEO WHITENING - ELDER ROSE</td>
              <td><i class="bi bi-dash-lg golder mx-lg-3 mx-2"></i>1<i class="bi bi-plus-lg golder mx-lg-3 mx-2"></i></td>
              <td>EGP180.00</td>
              <td>EGP180.00</td>
          </tr>
          <tr style="font-weight:bold">
              <td class="imageCol"><img class="rounded" src="assets/images/p1.jpg" width="60%" /></td>
              <td class="golder productName" style="letter-spacing: 2px">DEO WHITENING - SPORTS MODE</td>
              <td><i class="bi bi-dash-lg golder mx-lg-3 mx-2"></i>2<i class="bi bi-plus-lg golder mx-lg-3 mx-2"></i></td>
              <td>EGP200.00</td>
              <td>EGP400.00</td>
          </tr>
      </tbody>
  </table>
          <div class="row" id="end" style="margin-top: 2.5%"></div>
          </div>
                    <!-- table2 -->



  </div>














