<mat-card>{{name}}</mat-card>

<br>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> UserName</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.username}} </mat-cell>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date Of Order </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="totalprice">
      <mat-header-cell *matHeaderCellDef>Total Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalprice}} </mat-cell>
    </ng-container>
  

    <!-- Symbol Column -->
    <ng-container matColumnDef="producttitles">
      <mat-header-cell *matHeaderCellDef>Product Titles </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.producttitles}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="orderStatus">
        <mat-header-cell *matHeaderCellDef>Order Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.orderStatus}} </mat-cell>
      </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Update Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
            
            <button mat-raised-button color="accent">EditStatus</button>
            <button mat-raised-button color="primary"><mat-icon>remove_red_eye</mat-icon></button>
            
        </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
