<mat-nav-list>
    <div class="profile-card">
      <div class="header">
        <h2>{{data.firstname}} {{data.lastname}}</h2>
        <h4>{{data.email}}</h4>
      </div>
      <img src="{{dashboardService.imageUrl}}{{data.image}}" alt="profileImage">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/home">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/products">Products</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/orders">Orders</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/offers">Offers</a>


    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/users"><mat-icon>supervised_user_circle</mat-icon> Users & Admins</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/messages">
      <span class="material-icons">message</span> &nbsp; &nbsp; Contact Messages</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/admins">
        <mat-icon>supervised_user_circle</mat-icon> Admins</a> -->


</mat-nav-list>
