<div class="container mt-5 mb-5 border border-black bg-light">
    <div class="row mt-5 mb-5">
        <h2>Change Order Status</h2>
        <mat-form-field appearance="fill">
            <mat-label>--select--</mat-label>
            <mat-select [formControl]="statusControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let orderS of orders" [value]="orderS">
                {{orderS.orderStatus}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="statusControl.hasError('required')">Please change status order to what you wish </mat-error>
            <mat-hint>{{statusControl.value?.orderStatus}}</mat-hint>
          </mat-form-field>
       <!-- Add Product Form start -->
    <form [formGroup] ="myFormValidation" class="form mb-5 mt-5" (ngSubmit)="SendData(myFormValidation)">
      <!-- <div class="form-group mt-3">
         <label for="exampleInputName">Change Order Status</label> 
          <input formControlName="orderStatus" type="text" class="form-control" id="exampleInputName"  placeholder="Enter Product Name.." value="{{statusControl.value?.orderStatus}}"> 
       </div> -->
       <button type="submit" class="btn btn-primary mt-5 mb-5" >Submit</button>
      </form>
     <!-- Register Form End -->
    </div>
  </div>