<div class="before_footer  mx-auto">
  <h2>FROM BEES TO NATURE TO YOU</h2>
  <div class="d-flex flex-row  ">
    <div class="p-2">
      <div class="bee_circle">
        <img src="assets/images/Icons_allnatural.png" alt="">
      </div>
      <h4>ALL NATURAL</h4>
    </div>
    <div class="p-2">
      <div class="bee_circle">
        <img src="assets/images/Icons_freshly-made.png" alt="">
      </div>
      <h4>FRESHLY MADE</h4>
    </div>
    <div class="p-2">
      <div class="bee_circle">
        <img src="assets/images/Icons_innovative_1.png" alt="">
      </div>
      <h4>INNOVATIVE</h4>
    </div>
    <div class="p-2">
      <div class="bee_circle">
        <img src="assets/images/Icons_ecoconscious.png" alt="">
      </div>
      <h4>ECO CONSCIOUS</h4>
    </div>
  </div>
</div>

<footer class="text-white text-center text-lg-start" style="background-color: #c59630;">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h4 class="text-uppercase mb-4" style="margin-left: 35px;">Social Media</h4>
        <div class="mt-4">
          <!-- Facebook -->
          <a href="https://business.facebook.com/beeslineegypt/?business_id=212687305742102"><img
              src="assets/images/Icon_facebook.png" alt=""></a>
          <!-- Dribbble -->
          <a href="https://www.youtube.com/user/Beeslinecare"><img src="assets\images\Icon_youtube.png" alt=""></a>
          <!-- Twitter -->
          <a href="https://twitter.com/beeslinecare"><img src="assets\images\Icon_twitter.png" alt=""></a>
          <!-- Google + -->
          <a href="https://www.instagram.com/beeslineegypt/"><img src="assets\images\Icon_instagram.png" alt=""></a>
          <!-- Linkedin -->
        </div>
      </div>
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">STAY UP TO DATE WITH NEW PRODUCT RELEASES & MORE.</h5>
        <div class="form-outline form-white mb-4">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter Email" aria-label="Recipient's username"
              aria-describedby="basic-addon2" style="background-color:  #c59630;">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2" style="background-color: white;">Sign up</span>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
        <img style="margin-left: 150px;" src="assets/images/Icon_bee-white2.png" alt="">
        <h4 id="footerbees">INSPIRED BY BEES</h4>
        <p style="margin-left: 150px;">prescribed by nature</p>
      </div>
      <!--Grid column-->
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)"> © ITI 2022  </div>
</footer>