<mat-nav-list>

    <div class="profile-card">
      <div class="header">
        <h2>Laila Ibrahim</h2>
        <h4>laila798@gmail.com</h4>
      </div>
      <img src="../../../../assets/profileImage.png" alt="profileImage">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">Products</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">Orders</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
       <mat-icon>face</mat-icon> Users</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>supervised_user_circle</mat-icon> Admins</a>


</mat-nav-list>
