h3 {
    width: 100%;
    text-align: center;
    border-bottom: 3.5px solid #C59630;
    line-height: 0.1rem;
    margin: 10px 0 20px;
    letter-spacing: 2px;
    font-size: 1.75rem;
}

h3 span {
    background: #fff;
    padding: 0 10px;
}

.prod-btn {
    background: #FFCD25;
    border: none;
    font-weight: 500;
}

.deta-btn {
    background: white;
    border: 1px solid;
    font-weight: 500;
    color: black;
}

.prod-btn:hover {
    background: white;
    border: 1px solid #C59630;
    color: #C59630;
}

.prod-btn:focus {
    box-shadow: none;
}

.danger {
    background-color: red !important;
    color: white !important;
}

.deta-btn:hover {
    background-color: black;
    color: white;
}

.disable {
    display: none;
}

.card-title, .card-text {
    font-family: Arial !important;
    font-size: larger;
}

.card-title {
    font-weight: 600;
}

.title {
    font-size: 30px;
    font-family: Arial;
}

.card-img-top {
    height: 268px;
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    #buttons-group {
        flex-direction: column;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #buttons-group {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {}