<div class="container mb-5 mt-2 hos">
  <mat-card>Orders Control</mat-card>
<br>
<div class="example-container mat-elevation-z8 table-responsive">
 <table class="table table-striped" >
   <thead>
     <tr>
       <th>Order No.</th>
       <th>Order Status</th>
       <th>User Name</th>
       <th>User City</th>
       <th>User address</th>
        <th>Product Details</th>
        <th>Action</th> 
     </tr>
   </thead>
   <tbody >
     <tr *ngFor="let o of AllOrdersNotRepeated">
       <td>{{o.id}}</td>
       <td [ngClass]="{
        'text-primary':o.orderStatus === 'pending',
        'text-success':o.orderStatus === 'accepted',
        'text-danger':o.orderStatus === 'rejected'
      }"><b>{{o.orderStatus}}</b></td>
       <td>{{o.userInfo.firstname}} {{o.userInfo.lastname}}</td>
       <td>{{o.userInfo.city}}</td>
       <td>{{o.userInfo.address}}</td>
      <td>
        <table class="table table-striped">
          <tr>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Quantity</th>
            <th>Product Price</th>
            <th>Total Price</th>
          </tr>
           <tr *ngFor="let oo of AllOrders">
              <td *ngIf="o.user_id==oo.user_id">{{oo['product info'].name}}</td>
              <td *ngIf="o.user_id==oo.user_id"><img src="{{dashboardService.imageUrl}}{{oo['product info'].image}}"  alt=""></td>
              <td *ngIf="o.user_id==oo.user_id">{{oo.quantity}}</td>
              <td *ngIf="o.user_id==oo.user_id">{{oo['product info'].price}}</td>
              <td *ngIf="o.user_id==oo.user_id">{{oo['product info'].price * oo.quantity}}</td>
           </tr>
        </table>
      </td>
      <td>

      </td>
      <td>
        <button mat-raised-button color="accent" routerLink="/dashboard/orders/changeStatus/{{o.id}}"><mat-icon>edit</mat-icon>Edit status</button>
      </td>
     </tr>
   </tbody>
 </table>
</div>
</div>