<img src="assets/images/h1.jpg" width="100%" style="border:1px solid #FFCD25" />
<div class="mx-auto" style="width: 90%">
    <div class="single_category" style="margin-top: 6%; margin-bottom:5%">
        <h3 class="mb-5"><span>&nbsp;DISCOVER OFFERS&nbsp;</span></h3>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                <div class="card" style="border: none">
                    <img src="assets/images/o1.jpg" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Whitening Lifting Night Cream</h6>
                        <p class="card-text mb-4">EGP395.00<span class="mx-1"
                                style="text-decoration:line-through; font-size: small; color: #7D7DA5;">EGP500.00</span>
                        </p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                <div class="card" style="border: none">
                    <img src="assets/images/d1.jpg" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Deo Whitening - Sport Pulse</h6>
                        <p class="card-text mb-4">EGP7.70<span class="mx-1"
                                style="text-decoration:line-through; font-size: small; color: #7D7DA5;">EGP180.00</span>
                        </p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                <div class="card" style="border: none">
                    <img src="assets/images/d3.jpg" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Deo Whitening - Invisible Touch</h6>
                        <p class="card-text mb-4">EGP180.00<span class="mx-1"
                                style="text-decoration:line-through; font-size: small; color: #7D7DA5;">EGP250.00</span>
                        </p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                <div class="card" style="border: none">
                    <img src="assets/images/d4.png" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Deo Whitening - Beauty Pearl</h6>
                        <p class="card-text mb-4">EGP150.00<span class="mx-1"
                                style="text-decoration:line-through; font-size: small; color: #7D7DA5;">EGP200.00</span>
                        </p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                <div class="card" style="border: none">
                    <img src="assets/images/o2.png" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Whitening Bundle For Feminine Hygiene</h6>
                        <p class="card-text mb-4">EGP400.00<span class="mx-1"
                                style="text-decoration:line-through; font-size: small; color: #7D7DA5;">EGP500.00</span>
                        </p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                <div class="card" style="border: none">
                    <img src="assets/images/o3.png" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Oily & Combination Skin Care Routine</h6>
                        <p class="card-text mb-4">EGP350.00<span class="mx-1"
                                style="text-decoration:line-through; font-size: small; color: #7D7DA5;">EGP400.00</span>
                        </p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                <div class="card" style="border: none">
                    <img src="assets/images/o4.png" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Body & Feet Moisturizing Bundle</h6>
                        <p class="card-text mb-4">EGP200.00<span class="mx-1"
                                style="text-decoration:line-through; font-size: small; color: #7D7DA5;">EGP250.00</span>
                        </p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                <div class="card" style="border: none">
                    <img src="assets/images/o5.png" class="card-img-top">
                    <div class="card-body rounded-bottom" style="text-align: center; background: #FAFAFA;">
                        <h6 class="card-title" style="height:45px">Whitening Bundle For Day & Night Care</h6>
                        <p class="card-text mb-4">EGP420.00<span class="mx-1"
                                style="text-decoration:line-through; font-size: small; color: #7D7DA5;">EGP500.00</span>
                        </p>
                        <div class="d-flex justify-content-around" id="buttons-group">
                            <a href="#" class="btn btn-primary deta-btn mb-2">Details</a>
                            <a href="#" class="btn btn-primary prod-btn mb-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>