<div class="container">
  <h3><span>&nbsp; Edit Profile &nbsp;</span></h3>
  <div class="p-5">
    <form #signUpForm="ngForm" (ngSubmit)="upload(signUpForm)" enctype="multipart/form-data">
      <h1 style="font-weight: 300;">Personal Information</h1><hr>
      <div class="form-group mb-4">
        <label class="btn btn-default p-0">Upload your image</label><span style="color:red;">&nbsp;*</span>
        <input type="file" class="form-control"  (change)="selectFile($event)"/>
        <div>
          <img src="{{myService.IMG_URL}}{{prev.image}}" class="preview w-25">
        </div>
      </div>
      <div class="form-group mb-4">
        <label>First Name</label> <span style="color:red;">&nbsp;*</span>
        <input type="text" class="form-control" placeholder="Enter First Name" [(ngModel)]="prev.firstname" required minlength="3" pattern="^[a-zA-Z \-\']+" [value]="prev.firstname" #firstname="ngModel" name="firstname">
        <div *ngIf="firstname?.invalid" class="alert alert-danger valid">
          <span *ngIf="firstname?.errors?.['required']">First name is required</span>
          <span *ngIf="firstname?.errors?.['minlength']">First name minimum length is 3 </span>
          <span *ngIf="firstname?.errors?.['pattern']">First name can only be letters</span>
        </div>
      </div>
      <div class="form-group mb-4">
        <label>Last Name</label><span style="color:red;">&nbsp;*</span>
        <input type="text" class="form-control" placeholder="Enter Last Name" [(ngModel)]="prev.lastname" required pattern="^[a-zA-Z \-\']+" [value]="prev.lastname" #lastname="ngModel"  name="lastname" minlength="3">
        <div *ngIf="lastname?.invalid" class="alert alert-danger valid">
          <span *ngIf="lastname?.errors?.['required']">Last name is required</span>
          <span *ngIf="lastname?.errors?.['minlength']">Last name minimum length is 3</span>
          <span *ngIf="firstname?.errors?.['pattern']">Last name can only be letters</span>
        </div>
      </div>
      <div class="form-group mb-4">
        <label>Address</label><span style="color:red;">&nbsp;*</span>
        <textarea class="form-control" rows="3" style="width: 400px;" [(ngModel)]="prev.address" name="address" [value]="prev.address" #address="ngModel" required minlength="5"></textarea>
        <div *ngIf="address?.invalid" class="alert alert-danger valid">
           <span *ngIf="address?.errors?.['required']"> Address is required </span>
           <span *ngIf="address?.errors?.['minlength']">address minimum length is 5</span>
        </div>
      </div>
      <div class="form-group mb-4">
        <label>Phone Number</label><span style="color:red;">&nbsp;*</span>
        <input type="text" class="form-control" placeholder="Enter Phone number" name="mobile" [value]="prev.mobile" [(ngModel)]="prev.mobile" #mobile="ngModel" required pattern="^01[0125][0-9]{8}$" >
        <div *ngIf="mobile?.invalid" class="alert alert-danger valid">
          <span *ngIf="mobile?.errors?.['required']">Phone number is required</span>
          <span *ngIf="mobile?.errors?.['pattern']">Invalid phone number</span>
        </div>
      </div>
      <div class="form-group mb-4">
        <label>City<span style="color:red;">&nbsp;*</span></label><br>
        <select name="city" class="form-control" [value]="prev.city"  required [(ngModel)]="prev.city" #city="ngModel" style="width:39%">
          <option value="NoTSelected">Choose your city</option>
          <option value="cairo">Cairo</option>
          <option value="alex">Alexandria</option>
          <option value="giza">Giza</option>
          <option value="portSaid">Port Said</option>
          <option value="suez">Suez</option>
          <option value="luxor">Luxor</option>
          <option value="mansoura">Mansoura</option>
          <option value="tanta">Tanta</option>
          <option value="asyut">Asyut</option>
          <option value="ismailia">Ismailia</option>
          <option value="faiyum">Faiyum</option>
          <option value="zagazig">Zagazig</option>
          <option value="damietta">Damietta</option>
          <option value="aswan">Aswan</option>
          <option value="minya">Minya</option>
          <option value="damanhur">Damanhur</option>
          <option value="beniSuef">Beni Suef</option>
          <option value="qena">Qena</option>
          <option value="sohag">Sohag</option>
          <option value="banha">Banha</option>
          <option value="arish">Arish</option>
        </select>
        <div *ngIf="city?.touched && city?.invalid" class="alert alert-danger">
          <div *ngIf="city?.errors?.['required']">City is required</div>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" name="newsletter" [value]="prev.newsletter" #newsletter="ngModel" [(ngModel)]="prev.newsletter" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"><span style="color:#c59630ed; font-size: smaller;">  Sign up for Newsletter</span>
        </label>
      </div>
      <h1 class="mt-4" style="font-weight:300;">Sign-in Information</h1><hr>
      <div class="form-group mb-4">
        <label>Email</label><span style="color:red;">&nbsp;*</span>
        <input type="email" class="form-control" placeholder="Enter Email" name="email" [value]="prev.email" [(ngModel)]="prev.email" #email="ngModel" required email>
        <div *ngIf="email?.invalid || emailValidation" class="alert alert-danger valid">
          <span *ngIf="email?.errors?.['required']">Email is required</span>
          <span *ngIf="email?.errors?.['email']">Invalid email</span>
          <span *ngIf="emailValidation">Email already exists, please enter another email</span>
        </div>
      </div>
      <div class="form-group mb-4">
        <label>Password</label><span style="color:red;">&nbsp;*</span>
        <input #password="ngModel" name="password" [value]="prev.password" [(ngModel)]="prev.password" type="password" class="form-control" placeholder="Enter Password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
        <div class="alert alert-danger valid" *ngIf="password?.invalid">
          <span *ngIf="password?.errors?.['required']">required</span>
          <span *ngIf="password?.errors?.['pattern']">Password must be at least 8 characters in length
            Lowercase letters
            Uppercase letters
            Numbers
            Special characters</span>
      </div>
      </div>
      <button type="submit" class="btn btn-warning save">Save</button>
    </form>
  </div>
</div>
