<div class="container-fluid">
  <!-- Page Header -->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 px-0">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="myImg">
            <img class="panel-image-preview" src="assets/images/about1.jpg">
            <div class="caption">
              <div class="fontz-text glow">FROM BEES TO NATURE TO YOU</div>
            </div>
      </div>
    </div>
      <!-- Page Header -->
    <div class="mx-auto container" style="width: 95%">
        <div class="row">
            <div class=" col-lg-4 col-md-12 col-xs-12"><img src="assets/images/i2.jpg" ></div>
            <div class="col-lg-4 col-md-12 col-xs-12 mt-5 gold" style="font-size: 1rem;">
              Beesline is a natural cosmetics lab that uses the ancient science of Apitherapy (bee therapy) and its rich resources: Honey, Beeswax, Royal Jelly, Propolis, combined with fresh botanical extracts, to safely and effectively take care of your skin.
              We provide consumers with a powerful alternative to chemical cosmetics whose long-term toxic impact on the skin and the human body can be detrimental.
            </div>
            <div class="col-lg-4 col-md-12 col-xs-12"><img src="assets/images/i3.jpg" ></div>
            <h3 class="mb-5 me-2 ms-2" style="font-size: 1.5rem;"><span>&nbsp;HOW WE DO IT&nbsp;</span></h3>
            <div class="row">
              <div class=" col-lg-6 col-md-12 col-xs-12"><img src="assets/images/i4.jpg" ></div>
              <div class="col-lg-6 col-md-12 col-xs-12 mt-5 gold">
                <div>
                  <div class=" title mb-2 "> ALL NATURAL </div>
                  <div style="font-size: 1rem;">
                    Because what you feed your skin your body absorbs, we aim to nurture your wellbeing outside-in. This is why our products are nature-based: free from additives, artificial coloring and fragrances, and products of animal origin besides beehive ingredients. We're also free from harsh materials like paraben, silicone, paraffin, petroleum, and more.
                  </div>
              </div>
              </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 mt-5 gold">
                  <div>
                    <div class=" title mb-2 "> FRESHLY MADE </div>
                    <div style="font-size: 1rem;">
                      Fresh ingredients are more powerful and effective. This is why we extract our raw materials right before mixing them into products, that are naturally preserved thanks to one of the many properties of bee by-products.                    </div>
                </div>
                </div>
                <div class=" col-lg-6 col-md-12 col-xs-12"><img src="assets/images/i5.jpg" ></div>
                </div>
                <div class="row">
                  <div class=" col-lg-12 col-md-12 col-xs-12  text-center gold " style="font-size: 18px;">
                    Vegetable oils and natural waxes make our products bioavailable, <br> better absorbed, and most effective by transferring the  <br> benefits of the active ingredients to your skin.
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-6 col-md-12 col-xs-12"><img src="assets/images/i6.jpg" ></div>
                  <div class="col-lg-6 col-md-12 col-xs-12 mt-5 gold">
                    <div>
                      <div class=" title mb-2 "> INNOVATIVE </div>
                      <div style="font-size: 1rem;">
                        Through R&D we carefully combine nature's richest resources to deliver unique and poweful high-quality products. Our formulas are tested in-house as well as through a third-party lab, ApiFRANCE, to certify our safety and efficacy claims.
                      </div>
                  </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-xs-12 mt-7 gold">
                      <div>
                        <div class=" title mb-2 mt-2 "> ECO-CONSCIOUS </div>
                        <div style="font-size: 1rem;">
                          Beesline strives to reduce the impact of its operation on people, animals and the environment, and invest in creating awareness for all its stakeholders. Our products are cruelty-free and our supply chain is committed to the relentless pursuit of sustainably sourced raw material.                        </div>
                    </div>
                    </div>
                    <div class=" col-lg-6 col-md-12 col-xs-12"><img src="assets/images/i5.jpg" ></div>
                    </div>
                    <h3 class="mb-5 me-2 ms-2"><span style="font-size: 1.5rem;">&nbsp;THE STORY BEHIND BEESLINE&nbsp;</span></h3>
                    <div class="row">
                      <div class=" col-lg-6 col-md-12 col-xs-12">
                        <img src="assets/images/founders.png" style="width: 400px;" alt="..." >
                        <div class="title mt-3">MOHAMAD ARAYSSI & MAHA ARAYSSI RIFAI</div>
                      </div>
                      <div class="col-lg-4 col-md-12 col-xs-12 mt-5">
                        <div style="font-size: 1rem;">
                          It all began when a recent chemistry graduate promised his mother, who got an allergic reaction after using an expensive facial cream, that he would create a cream for her; one that was all-natural safe and hypo-allergenic. He just needed to find the key ingredient.
                        </div>
                        <div class="gold mt-5 mb-5" style="font-size: 1.2rem;">
                          “Bees are nature’s perfect pharmacists!”
                        </div>
                        <div style="font-size: 1rem;">
                          The young man sought the advice of his older sister who had a PhD in Pharmacology. She knew about the tremendous benefits of bee by-products on human health and how extremely friendly they are to sensitive skin. Two years later, the resulting success amongst dermatologists and their patients led the two founders to turn their passion into purpose: making natural, safe and healthy skin care solutions accessible to everyone.                        </div>
                      </div>
                      </div>
                      </div>




















