<div class="mx-auto container" style="width: 85%">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="mb-3 me-2 ms-2 mt-5 txt2"><span>&nbsp; My Account &nbsp;</span></h3>
      <div class="btn-group mb-4" role="group" aria-label="Basic mixed styles example">
        <a routerLink="/profile" class="btn btn-dark add-btn my-4 w-20 checkout ">My Account</a>
        <a routerLink="/orders" class="btn btn-warning add-btn my-4 w-20 checkout ">My Orders</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{myService.IMG_URL}}{{info.data.image}}" alt="my profile picture" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4 class="txt">{{info.data.firstname}} {{info.data.lastname}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0 txt">News Letter Subscription</h6>
              <span *ngIf="info.data.newsletter == 1" class="text-secondary txt">Subscribed</span>
              <span *ngIf="info.data.newsletter == 0" class="text-secondary txt">&#8212;</span>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 txt">First Name</h6>
              </div>
              <div class="col-sm-9 text-secondary txt">
                {{info.data.firstname}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 txt">Last Name</h6>
              </div>
              <div class="col-sm-9 text-secondary txt">
                {{info.data.lastname}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 txt">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary txt">
                {{info.data.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 txt">City</h6>
              </div>
              <div class="col-sm-9 text-secondary txt">
                {{info.data.city}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 txt">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary txt">
                {{info.data.mobile}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 txt">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary txt">
                {{info.data.address}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-dark btn-outline-danger border-0" style="color:white; font-size: larger; width: 20%;"
                  routerLink="/edit-profile/{{info.data.id}}">Edit profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
