h3 {
  width: 100%;
  text-align: center;
  border-bottom: 3.5px solid #c59630;
  line-height: 0.1em;
  margin: 10px 0 20px;
  letter-spacing: 2px;
}

h3 span {
  background: #fff;
  padding: 0 10px;
}

#end {
  border-bottom: 3px solid #c59630;
}

#all {
  border: 1px solid #c59630;
}

.add-btn {
  border: none;
  font-size: 20px;
}

.add-btn:hover {
  background: white;
  color: #c59630;
}

body {
  margin-top: 20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}

.main-body {
  padding: 15px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}

.h-100 {
  height: 100% !important;
}

.shadow-none {
  box-shadow: none !important;
}

.txt {
  font-size: 0.9rem;
}

.txt2 {
  font-size: 1.5rem;
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}